HoldIt/SampleData/SampleDataSource/SampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SampleDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource" type="tns:SampleDataSource" />
  <xs:complexType name="SampleDataSource">
    <xs:sequence>
      <xs:element name="Levels" type="tns:Levels" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Levels">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="LevelsItem" type="tns:LevelsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LevelsItem">
    <xs:attribute blend:FormatParameters="3,8" name="Title" type="xs:string" />
    <xs:attribute blend:FormatParameters="15,8" name="Description" type="xs:string" />
  </xs:complexType>
</xs:schema>